   <!-- FOOTER -->
   <div div class="footer clearfix">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-12">
          <div class="footerLink">
            <h5>Accessories</h5>
            <ul class="list-unstyled">
              <li><a href="javascript:void(0)">Footware </a></li>
              <li><a href="javascript:void(0)">Clothing </a></li>
              <li><a href="javascript:void(0)">Outlet sale </a></li>
              <li><a href="javascript:void(0)">New Arrivals </a></li>
              <li><a href="javascript:void(0)">Special Offer </a></li>
              <li><a href="javascript:void(0)">Jclub </a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-2 col-12">
          <div class="footerLink">
            <h5>BRANDS</h5>
            <ul class="list-unstyled">
              <li><a href="javascript:void(0)">Nike </a></li>
              <li><a href="javascript:void(0)">Adidas </a></li>
              <li><a href="javascript:void(0)">Puma</a></li>
              <li><a href="javascript:void(0)">Nike</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-2 col-12">
          <div class="footerLink">
            <h5>Collections</h5>
            <ul class="list-unstyled">
              <li><a href="javascript:void(0)">Ultraboost </a></li>
              <li><a href="javascript:void(0)">Superstar </a></li>
              <li><a href="javascript:void(0)">NMD </a></li>
              <li><a href="javascript:void(0)">Predator </a></li>
              <li><a href="javascript:void(0)">Parley </a></li>
              <li><a href="javascript:void(0)">Adicolor </a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-2 col-12">
          <div class="footerLink text-nowrap">
            <h5>Get in Touch</h5>
            <ul>
              <li><a href="tel:555-555-5555">Call us at 8610431563</a></li>
              <li><a href="mailto:deva.sasi.el@gmail.com">devasasi@gmail.com</a></li>
            </ul>
            <ul class="list-inline">
              
         
              <li><a href=""><i class="fab fa-instagram"></i></a></li>
              <li><a href=""><i class="fab fa-linkedin"></i></a></li>
              <li><a href=""><i class="fab fa-github"></i></a></li>
            </ul>
          </div>
        </div>

        
      </div>
    </div>
  </div>

  <!-- COPY RIGHT -->
  <div class="copyRight clearfix">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-12">
          <p>&copy; <span id="copy-year"></span> Copyright  <a target="_blank"
              href="http://www.iamabdus.com/">bigbag</a>.</p>
        </div>
        <div class="col-md-5 col-12">
          <ul class="list-inline">
            <li>
              <a href="javascript:void(0)"><img src="assets/img/home/footer/card1.png"></a>
            </li>

            <li>
              <a href="javascript:void(0)"><img src="assets/img/home/footer/card2.png"></a>
            </li>

            <li>
              <a href="javascript:void(0)"><img src="assets/img/home/footer/card3.png"></a>
            </li>

            <li>
              <a href="javascript:void(0)"><img src="assets/img/home/footer/card4.png"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="assets/plugins/jquery/jquery-3.5.1.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/plugins/simplebar/simplebar.min.js"></script>

<script src='assets/plugins/slick/slick.js'></script>

<script src='assets/plugins/iziToast/js/iziToast.js'></script>


<script src='assets/plugins/selectbox/jquery.selectbox-0.1.3.min.js'></script>



<script src="assets/plugins/smoothscroll/SmoothScroll.js"></script>

<script src="assets/js/custom.js"></script>

<link href="assets/options/optionswitch.css" rel="stylesheet">
<script src="assets/options/optionswitcher.js"></script>


</body>

<!-- Mirrored from bigbag-html.netlify.app/login by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 09 Dec 2023 09:40:43 GMT -->

</html>