<%- include('../adminpart/adminhead') %>
<body>
  <style>
    .error {
      color: red;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
    integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"
    integrity="sha512-TiQST7x/0aMjgVTcep29gi+q5Lk5gVTUPE9XgN0g96rwtjEjLpod4mlBRKWHeBcvGBAEvJBmfDqh2hfMMmg+5A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh;">
      <div class="border border-2 p-5" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          <h1 class="my-5 text-center">Add Product</h1>
          <form id="addproduct" enctype="multipart/form-data">
              <div class="form-group mt-3">
                <label for="exampleFormControlInput1">Product Name</label>
                <input type="text" name="productName" class="form-control" id="exampleFormControlInput1" placeholder="" maxlength="50" style="max-width: 325px;">
            </div>
            <div class="form-group mt-3">
                <label for="parentCategory">Parent Category</label>
                <select name="parentCategory" class="form-control" id="parentCategory" style="max-width: 325px;">
                    <option disabled selected>Select Parent Category</option>
                    <% for(let i=0;i<categorydet.length;i++){ %>

                      <option value="<%=categorydet[i]._id%>">
                        <%=categorydet[i].categoryname%>
                      </option>
            
                      <% } %>
                </select>
            </div>
            <div class="form-group mt-3">
                <label for="productdes">Product Description</label>
                <input type="text" placeholder="Product Description" name="productdes" id="productdes" class="form-control" style="max-width: 325px;">
            </div>
            <div class="form-group mt-3">
                <label for="images">Add image</label>
                <input type="file" name="images" class="form-control-file" id="images" accept="image/*" multiple>
            </div>
            <div class="form-group mt-3">
                <label for="productPrice">Product Price</label>
                <input class="form-control" name="productPrice" type="text" placeholder="" maxlength="50" style="max-width: 325px;">
            </div>
            <div class="form-group mt-3">
                <label for="productStock">Product Stock</label>
                <input class="form-control" name="productStock" type="text" placeholder="" maxlength="50" style="max-width: 325px;">
            </div>
            <button type="submit" class="btn btn-success mt-3">Add</button>
          </form>
      </div>
  </div>
  <script>
    $('#addproduct').validate({
      rules: {
        productName: {
          required: true,
        },
        images:{
          required: true,
        },
        productPrice: {
          required: true,
          pattern: "[0-9]+"
        },
        productStock: {
          required: true,
          pattern: "[0-9]+"
        },
        parentCategory: {
          required: true,

        },
        productdes: {
           required: true,
        },
      },

      submitHandler: async (form, event) => {

        event.preventDefault()
        
        const formData = new FormData(form)
        
        let response = await fetch('/addproduct2', {
          method: 'POST',
          body: formData 
         
        })
        let result = await response.json()
        if(result.exists) {
            await Swal.fire({
              icon: "error",
              title: "Product Already exists"
            })
    }
        if (result.success) {
      await Swal.fire({
        icon: "success",
        title: "Product Added"
      })
      window.location.href = '/product'
    }
    if (result.noValue) {
      await Swal.fire({
        icon: "error",
        title: "No Value in Product Name"
      })
    }
      }
    })
    
  </script>
</body>

</html>